<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= form_for current_user, url: profile_path do |f| %>
  <%= f.label "アイコン画像" %>
  <%= f.file_field :icon_image %>
  <%= f.label "名前" %>
  <%= f.text_field :name %>
  <%= f.label "自己紹介" %>
  <%= f.text_area :self_introduction %>
  <%= f.submit "更新" %>
<% end %>

<%= link_to '戻る', :back %>
