<h1>予約の編集</h1>

<%= form_with model: [@room, @reservation], local: true do |f| %>
  <div class="form-group">
    <%= f.label :check_in, "チェックイン日" %>
    <%= f.date_field :check_in, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :check_out, "チェックアウト日" %>
    <%= f.date_field :check_out, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :num_of_guests, "宿泊人数" %>
    <%= f.number_field :num_of_guests, class: "form-control" %>
  </div>

  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>

<%= link_to "戻る", :back %>
